GROQ_API_KEY=your_groq_api_key_here
MURF_API_KEY=your_murf_api_key_here
ASSEMBLYAI_API_KEY=your_assemblyai_api_key_here
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/ai_recruiter
PORT=8080
